/* General section */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* Utility section  */

.pd-y {
    padding-top: 2rem; 
    padding-bottom: 2rem;
}

.pd-b {
    padding-bottom: 2rem; 
}

/* Header */

header {
    text-align: center;
}

header h1 {
    color: #e53170;
}

/* Team section */

.team_row::after {
    display: table;
    content: "";
    clear: both;
}

.debug .col {
    width: 150px;
    height: 50px; 
    background-color: red;
    border: 1px solid black;
    float: left;
    width: calc(100% / 3);
}
