/* General section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root{
    --main_color:#0f0e17; 
    --title-color: #e53170;
    --name_role_color: white; 
    --mail_color: #4ca4cf;
}

body {
    font-family: 'Fredoka', sans-serif;
}
.container {
    width: 70%;
    margin: auto;
}


/* Utility section  */

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pb-2 {
    padding-bottom: 2rem;
}

.centred {
    text-align: center;
}

.clear::after {
    display: table;
    content: "";
    clear: both;
}

/* Header */

#site_header img {
    width: 50px;
    vertical-align: middle;
}

#site_header h1 {
    color: var(--title-color);
    display: inline-block;
    vertical-align: middle;
}


/* Team section */
.card {
    background-color: var(--main_color); 
    box-shadow: 0px 0px 2px 2px gray; 
    float: left;
    width: calc(100% /3 - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
   
}

.card img {
    margin-right: 1rem;
    float: left;
    width: calc(100% /3 - 2rem);
}

.card span,h4 {
    line-height: 1rem;
    color: var(--name_role_color);
}

.card span {
    font-size: 0.7rem;
}

.card .mail {
    color: var(--mail_color);
}

.team_row {
    margin-bottom: 2rem;
}

.card_items {
    padding: 0.5rem 1rem 0.5rem 0
}





/*debug
.debug .col {
    width: 150px;
    height: 50px; 
    background-color: red;
    border: 1px solid black;
}
*/