/* General section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root{
    --main_color:#0f0e17; 
    --title-color: #e53170;
    --name_role_color: white; 
    --mail_color: #4ca4cf;
}

body {
    font-family: 'Fredoka', sans-serif;
}
.container {
    width: 70%;
    margin: auto;
}


/* Utility section  */

.pd-y {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pd-b {
    padding-bottom: 2rem;
}

.clear::after {
    display: table;
    content: "";
    clear: both;
}

/* Header */

header {
    text-align: center;
}

header h1 {
    color: var(--title-color)
}

/* Team section */


.card {
    background-color: var(--main_color); 
    box-shadow: 0px 0px 2px 2px gray; 
}

.card, .card img {
    float: left;
    width: calc(100% /3);
}

.card img {
    margin-right: 1rem;
}

.card h4 {
    margin-top: 1rem
}

.card span,h4 {
    line-height: 1.5rem;
    color: var(--name_role_color);
}

.card span {
    font-size: 0.7rem;
}

.card .mail {
    color: var(--mail_color);
}





/*debug
.debug .col {
    width: 150px;
    height: 50px; 
    background-color: red;
    border: 1px solid black;
}
*/